@import url('../styles/variables.css');

.weather__container {
  padding-bottom: 50px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.location {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
  flex-wrap: wrap;
}

.location__icon {
  width: 25px;
  height: 25px;
}

.location__icon > img {
  width: 100%;
  height: 100%;
}

.location__title {
  padding-left: 8px;
  font-family: 'Open-Sans-Bold';
  font-size: 24px;
  color: #3b4abf;
}

.location__date {
  padding-top: 5px;
  color: #3b4abf;
  width: 100%;
  text-align: center;
}

.degrees-container {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.degrees-container__degrees {
  font-family: 'Open-Sans-Bold';
  font-size: 88px;
  line-height: 1;
  color: #5465ff;
}

.degrees-container__state {
  font-family: 'Open-Sans-Medium';
  color: #5465ff;
}

.stats {
  width: 80%;
  margin: 0 auto;
  border-radius: 35px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.8); 
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics__icon {
  width: 20px;
  height: 20px;
}

.statistics__icon > img {
  width: 100%;
  height: 100%;
}

.statistics__percentage {
  font-family: 'Open-Sans-Medium';
  color: #3b4abf;
}

.statistics__title {
  font-size: 14px;
  color: #5465ff;
}

.forecast {
  padding: 20px 0 0 20px;
}

.forecast__title {
  font-family: 'Open-Sans-Medium';
  color: #3b4abf;
  margin-bottom: 15px;
}

.forecast__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
  padding: 14px 30px 14px 0;
}

.forecast-item {
  height: 180px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}

.forecast-item--current-day {
  background-color: rgba(84, 101, 255, 0.5);
}

.forecast-item__day {
  font-family: 'Open-Sans-Medium';
  padding-bottom: 20%;
}

.forecast-item__icon {
  width: 25px;
  height: 25px;
  margin-bottom: 50%;
}

.forecast-item__icon > img {
  width: 100%;
  height: 100%;
}

.forecast-item p:nth-child(3) {
  padding: 15%;
}

@media (min-width: 768px) {
  .stats {
    width: 50%;
    gap: 20px;
  }

  .forecast {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .forecast__title {
    width: 100%;
    max-width: 530px;
  }

  .forecast__list {
    overflow: unset;
    max-width: 530px;
    padding-right: 0px;
    justify-content: center;
  }
}

@media (min-width: 820px) {

}

@media (min-width: 992px) {
  .weather__container {
    width: 940px;
    margin: 0 auto;
  }
}

.search-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  /* display: none; */
}

.modal {
  width: 300px;
  height: 300px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.icons {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px 15px 0 0;
}

.icons__icon {
  width: 20px;
  height: 20px;
}

.icons__icon > img {
  width: 100%;
  height: 100%;
}

.icons__icon--search {
  margin-right: calc(50% - 45px);
  height: 45px;
  width: 45px;
}

.icons__icon--close {
  height: calc();
  cursor: pointer;
}

.icons__icon--close:hover,
.icons__icon--close:active {
  transform: scale(1.2);
}

.modal__search {
  width: 80%;
  text-align: center;
  font-family: 'Open-Sans-Medium';
  font-size: 14px;
  color: #3b4abf;
}

.search {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.search__input {
  padding: 6px;
  font-family: 'Open-Sans-Regular';
  border: 2px solid #3b4abf;
  font-size: 16px;
  border-radius: 5px;
}

.serch__button {
  border: none;
  padding: 12px;
  width: 80px;
  font-family: 'Open-Sans-Medium';
  color: #fff;
  background-color: #3b4abf;
  border-radius: 5px;
}
