@import url('./variables.css');

.wait-location {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.wait-location--active {
  display: flex;
};

.wait-location--hide {
  display: none;
}

.wait-location__icon {
  width: 50px;
  height: 50px;
  margin: 30px 0 20px 0;
}

.wait-location__icon > img {
  width: 100%;
  height: 100%;
}

.wait-location__info {
  text-align: center;
  padding: 10px;
  font-family: 'Open-Sans-Medium';
  color: #3b4abf;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.wait-location__spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #f3f3f3;
  border-top-color: #3b4abf;
  animation: spin 1s ease-in-out infinite;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wait-location__notation {
  position: absolute;
  width: 85%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: 'Open-Sans-Regular';
  font-size: 14px;
  color: #666;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

@media (min-width: 768px) {
  .wait-location__info, .wait-location__notation{
    max-width: 500px;
  }
}
